body {
    background-color: rgba(0, 0, 0, 0.808);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    color: lightskyblue;
}

.img {
    text-align: center;
}

ul {
    color: lightskyblue
}

.p {
    color: lightskyblue;
}

h1.section-header {
    color: lightskyblue;
    font-size: 3em;
}

h2.section-header {
    color: #C41E3A;
    font-size: 2em;
}